# compiled Python files
*.egg-info/
__pycache__/
*.pyc
dist/
build/
_pystmptmp*_parsetab.py
*-sbml_conversion_errors.txt

# coverage files
htmlcov/
.coverage
coverage.xml

# compiled documentation
README.rst
docs/objects.inv
docs/.buildinfo
docs/.doctrees/
docs/_raw_sources/
docs/_sources/

# IDE specific files
.idea/
